<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paddy Doctor - Python Backend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>🌾 Paddy Doctor </h1>
        
        <form method="POST" action="/diagnose">
            <h3>Select Observed Symptoms:</h3>
            
            <div class="symptom-grid">
                {% for symptom in symptoms_list %}
                <label class="symptom-item">
                    <input type="checkbox" name="symptoms" value="{{ symptom.id }}">
                    {{ symptom.label }}
                </label>
                {% endfor %}
            </div>
            <button type="submit" class="btn-analyze">Analyze Symptoms</button>
        </form>


            
            

</body>
</html>