<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stem Symptom Diagnosis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
  <h1>Stem Symptoms</h1>

  <form method="POST" action="{{ url_for('update_selection', category_slug='stem') }}">

    <div class="symptom-grid">
      {% for s in symptoms_list %}
        <label class="symptom-item">
          <input
            type="checkbox"
            name="symptoms"
            value="{{ s.id }}"
            {% if s.id in selected_symptoms %}checked{% endif %}
          >
          {{ s.label }}
        </label>
      {% endfor %}
    </div>

     <div class="nav-buttons">
      <button type="submit" class="btn-analyze">Next</button>
      <a class="btn-back" href="{{ url_for('leaf') }}">Back</a>
    </div>

  </form>
</div>

</body>
</html>
